vendor
node_modules
.env
.env.*
!.env.example
database/*.sqlite
storage/app/public/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
storage/fonts/*
.git
.github
.vscode
tests
Dockerfile
.dockerignore
