@import 'tailwindcss';

@theme {
  --font-sans: 'Tajawal', 'Segoe UI', system-ui, sans-serif;
}

html {
  font-family: var(--font-sans);
}

body {
  @apply bg-slate-50 text-slate-800;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  @apply bg-slate-300 rounded-full;
}
